@charset "UTF-8";
/* ========================================
  style_sub.scss
======================================== */
/* ----------------------------------------
  共通設定
---------------------------------------- */
.l-topMenu__nowPage {
  opacity: 1;
  position: relative;
  padding: 20px 0;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .l-topMenu__nowPage:after {
    display: block;
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    bottom: 7px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #F00;
    content: "";
  }
}

/* ----------------------------------------
  trigger.html
---------------------------------------- */
.p-trigger__bg,
.u-clearBg {
  background-color: transparent;
}

.p-trigger__bg:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../img/trigger_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  content: "";
}

.p-trigger__headerBg {
  display: block;
  height: 250px;
  background: url(../img/trigger_header_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .p-trigger__headerBg {
    height: 600px;
  }
}

.p-trigger__ttl {
  text-shadow: 0 0 15px #FFF;
}

.p-trigger__txt {
  color: #FFF;
  text-shadow: 0 0 10px #000;
}

.p-trigger__img {
  max-height: 200px;
  margin-bottom: 40px;
}

.p-trigger__txt--exSize {
  margin: 40px 0;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .p-trigger__txt--exSize {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .p-trigger__txt--exSize {
    font-size: 28px;
    font-size: 2.8rem;
  }
}

.u-whtBack {
  background-color: #FFF;
}

/* ----------------------------------------
  profile.html
---------------------------------------- */
.p-profile__headerBg {
  display: block;
  height: 250px;
  background: url(../img/profile_header_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .p-profile__headerBg {
    height: 600px;
  }
}

.p-profile__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .p-profile__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.p-profile__faceImg {
  width: 80%;
  border-radius: 20px 20px 0 0;
  vertical-align: bottom;
}

@media screen and (min-width: 768px) {
  .p-profile__faceImg {
    width: 100%;
  }
}

.p-profile__name {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
  color: #FFF;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  background-color: #555;
}

@media screen and (min-width: 768px) {
  .p-profile__name {
    width: 100%;
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 36px;
  }
}

.p-profile__name:before {
  display: block;
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 24px;
  background-color: #555;
  content: attr(data-title);
}

@media screen and (min-width: 768px) {
  .p-profile__name:before {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 36px;
  }
}

.p-profile__name:after {
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  content: attr(data-after);
}

.p-profile__txt {
  width: 80%;
  margin-top: 20px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .p-profile__txt {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 36px;
  }
}

.p-profile__txt > li {
  padding: 10px;
}

.p-profile__txt > li:nth-of-type(even) {
  text-align: right;
}

.p-profile__txt > li:nth-of-type(4n+1),
.p-profile__txt > li:nth-of-type(4n+2) {
  border-bottom: 1px solid #FFF;
  color: #FFF;
  background-color: #555;
}

.p-profile__txt > li:nth-of-type(4n+3) {
  border-bottom: 1px solid #555;
}

.p-profile__chronicle {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  color: #FFF;
  background-color: #555;
}

@media screen and (min-width: 768px) {
  .p-profile__chronicle {
    width: auto;
  }
}

.p-profile__QandA {
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .p-profile__QandA {
    max-width: 800px;
    margin: 0 auto;
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.p-profile__QandA {
  border: 1px solid #FFF;
}

.p-profile__QandA > li {
  border-top: 1px solid #FFF;
}

.p-profile__QandA > li:first-child {
  border-top: none;
}

.p-profile__QandA > li:nth-of-type(odd) {
  display: block;
  padding: 30px 0 30px 110px;
  background: url(../img/profile_q.png) no-repeat;
  background-position: 10px center;
}

.p-profile__QandA > li:nth-of-type(even) {
  display: none;
  padding: 30px 0 30px 10px;
  color: #333;
  background: url(../img/profile_a.png) no-repeat;
  background-position: right center;
  background-color: #FFF;
}

.p-profile__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-profile__about__selecter {
  display: inline-block;
  margin-right: 20px;
  border: 1px solid #555;
}

.p-profile__about__selecter > li {
  padding: 20px 10px;
  border-bottom: 1px solid #555;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 768px) {
  .p-profile__about__selecter > li {
    padding: 15px 10px;
    border-right: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.p-profile__about__selecter > li:last-child {
  border-bottom: none;
}

.p-profile__about__selecter > li:hover {
  color: #FFF;
  background-color: #555;
}

.p-profile__about__img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .p-profile__about__img {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-profile__about__img > li {
  padding: 10px 20px;
  text-align: center;
}

.p-profile__about__imgTtl {
  margin-bottom: 15px;
  color: #FFF;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-profile__about__imgTtl {
    font-size: 20px;
    font-size: 2.0rem;
  }
}

.p-profile__about__imgTtl:after {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  font-size: 1.2rem;
  vertical-align: middle;
  text-align: center;
  content: attr(data-subTtl);
}

.p-profile__about__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #555;
}

@media screen and (min-width: 768px) {
  .p-profile__about__txt {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-profile__about__txt > li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  color: #FFF;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px;
}

@media screen and (min-width: 1024px) {
  .p-profile__about__txt > li {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 50px;
  }
}

.u-hideObject {
  display: none;
}

.u-flexLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .u-flexLayout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.u-imgSizing {
  width: 50%;
  height: 50%;
  max-width: 300px;
}

@media screen and (min-width: 768px) {
  .u-imgSizing {
    width: 100%;
    max-width: 300px;
  }
}

/* ----------------------------------------
  liking.html
---------------------------------------- */
.p-liking__img {
  width: 100%;
  border-radius: 10px;
}

.p-liking__headerBg {
  display: block;
  height: 250px;
  background: url(../img/liking_header_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .p-liking__headerBg {
    height: 600px;
  }
}

.p-liking__desc {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 32px;
}

.p-liking__game {
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #333;
  color: #FFF;
  border-radius: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .p-liking__game {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .p-liking__game__img {
    width: 50%;
    height: 50%;
    margin-right: 20px;
  }
}

.p-liking__game__txt {
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .p-liking__game__txt {
    width: 50%;
  }
}

.p-liking__game__ttl {
  position: relative;
  margin: 20px 0 30px;
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .p-liking__game__ttl {
    margin-top: 0;
  }
}

.p-liking__game__ttl:after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #FFF;
  content: "";
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.p-liking__anime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.p-liking__anime > li {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .p-liking__anime > li {
    margin-right: 20px;
  }
}

.p-liking__anime > li:last-child {
  margin: 0;
}

.u-cover {
  background-color: rgba(0, 0, 0, 0.5);
}

.u-roop {
  width: 100%;
  background: url(../img/liking_enegy.jpg) repeat-x;
  background-position: center 0;
  -webkit-animation: bgroop 15s linear infinite;
  animation: bgroop 15s linear infinite;
}

@-webkit-keyframes bgroop {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -1200px center;
  }
}

@keyframes bgroop {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -1200px center;
  }
}

.p-liking__manga {
  width: 80%;
  margin: 20px auto 0;
}

@media screen and (min-width: 768px) {
  .p-liking__manga {
    width: 40%;
  }
}

.p-liking__manga > li {
  display: none;
  position: relative;
  background-color: #FFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.p-liking__manga > li:first-of-type {
  display: block;
}

.p-liking__manga > li:before {
  display: none;
  position: absolute;
  z-index: 2;
  width: 0;
  padding: 10px 0;
  color: #FFF;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #000;
  content: attr(data-txt);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.p-liking__manga > li:hover:before {
  display: block;
  width: 100%;
}

.p-liking__manga > li:hover:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  -webkit-transition: all .3s;
  transition: all .3s;
}

.p-liking__manga__img {
  width: 100%;
}

.p-liking__liquor {
  width: 90%;
  margin: 20px auto 0;
}

@media screen and (min-width: 768px) {
  .p-liking__liquor {
    width: 50%;
  }
}

.p-liking__liquor > li {
  -webkit-transition: .5s;
  transition: .5s;
}

.p-liking__liquor > li:nth-of-type(even) {
  display: none;
}

.u-imgRtt {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
